body {
	display: flex;
	justify-content: center;
	background-color: rgba(94, 245, 6, 0.075);
}
.center {
	margin-top: 1em;
	display: flex;
	flex-direction: column;
}

.start {
	padding: 5px;
	margin-bottom: 20px;
	background-color: rgb(17, 202, 187);
}

.grid {
	width: 200px;
	height: 200px;
	display: flex;
	flex-wrap: wrap;
	border-style: solid;
	background-color: rgba(243, 228, 15, 0.13);
}

.grid div {
	width: 20px;
	height: 20px;
}

.snake {
	background-color: rgb(6, 76, 141);
}

.apple {
	background-color: rgb(238, 30, 75);
}
